.listButton {
  background: url('../../assets/images/listbuttonWht.png');
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  width: 140px;
  height: 80px;
  outline: none;
}

.listButton:hover {
  background: url('../../assets/images/listbutton.png');
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  width: 140px;
  height: 80px;
  outline: none;
}