.logoutButton {
  background: url('../../assets/images/logoutbuttonWht.png');
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  width: 140px;
  height: 80px;
  outline: none;
}

.logoutButton:hover {
  background: url('../../assets/images/logoutbutton.png');
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  width: 140px;
  height: 80px;
  outline: none;
}