.viewAllButton {
  background: url('../../assets/images/viewAllWht.png');
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  width: 200px;
  height: 50px;
  margin: 5px 5px 5px 5px;
  border: none;
  outline: none;
}

.viewAllButton:hover {
  background: url('../../assets/images/viewAll.png');
  background-repeat: no-repeat;
  cursor: pointer;
  border: none;
  width: 200px;
  height: 50px;
  margin: 5px 5px 5px 5px;
  border: none;
  outline: none;
}