body {
  background-color: #282c34;
  background-image: url('https://images.pexels.com/photos/2166271/pexels-photo-2166271.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  overflow: hidden;
}