@media (min-width: 992px){
  .border {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    height: 50%;
    margin: 275px 5px 0 -5px;
    
    background-repeat: no-repeat;
    background-image:   linear-gradient(to right, #C9C9C9 100%, #C9C9C9 100%),
                        linear-gradient(to bottom, #C9C9C9 100%, #C9C9C9 100%),
                        linear-gradient(to right, #C9C9C9 100%, #C9C9C9 100%),
                        linear-gradient(to bottom, #C9C9C9 100%, #C9C9C9 100%);
    background-size:    100% 3px,
                        3px 100%,
                        100% 3px,
                        3px 100%;
    background-position:    0 0,
                            100% 0,
                            100% 100%,
                            0 100%;
    animation: bg 2s cubic-bezier(0.19, 1, 0.22, 1) 1;
    animation-play-state: running;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .border {
    position: absolute;
    left:0;
    top:0;
    display: flex;
    width: 99%;
    height: 99%;
    margin: 5px 5px 0 5px;
    
    background-repeat: no-repeat;
    background-image:   linear-gradient(to right, #C9C9C9 100%, #C9C9C9 100%),
                        linear-gradient(to bottom, #C9C9C9 100%, #C9C9C9 100%),
                        linear-gradient(to right, #C9C9C9 100%, #C9C9C9 100%),
                        linear-gradient(to bottom, #C9C9C9 100%, #C9C9C9 100%);
    background-size:    100% 3px,
                        3px 100%,
                        100% 3px,
                        3px 100%;
    background-position:    0 0,
                            100% 0,
                            100% 100%,
                            0 100%;
    animation: bg 2s cubic-bezier(0.19, 1, 0.22, 1) 1;
    animation-play-state: running;
  }
}

@keyframes bg {
  0% {
      background-size:
        0 3px,
        3px 0,
        0 3px,
        3px 0;
  }
  25% {
      background-size:
        100% 3px,
        3px 0,
        0 3px,
        3px 0;
  }
  50% {
      background-size:
        100% 3px,
        3px 100%,
        0 3px,
        3px 0;
  }
  75% {
      background-size:
        100% 3px,
        3px 100%,
        100% 3px,
        3px 0;
  }
  100% {
      background-size:
        100% 3px,
        3px 100%,
        100% 3px,
        3px 100%;
  }
}
