@media (min-width: 992px){
  .rotated {
    transform: rotate(90deg);
    text-align: left;
    color: gray;
  }
  
  .month {
    font-size: 15px;
    display: flex;
    margin: 0 -15px 50px 50px;
    padding: 20px 5px 5px 10px;
    border: .1px solid whitesmoke;
    color: gray;
  }
  
  .day {
    font-size: 100px;
    margin: 0 0 0 75px;
  }
  
  .dayNum {
    font-size: 25px;
    margin: 0 0 0 135px;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .rotated {
    transform: rotate(90deg);
    text-align: right;
    color: whitesmoke;
  }
  
  .month {
    visibility: hidden;
  }
  
  .day {
    font-size: 80px;
    margin: 0 0 0 50px;
  }
  
  .dayNum {
    font-size: 50px;
    margin: 0 0 0 120px;
  }
}