.sekret {
  width: 25px;
  height: 25px;
  position: relative;
}

.sekret:hover {
  background: url('../../assets/images/digikat.png');
  width: 25px;
  height: 25px;
  opacity: .5;
  position: relative;
}