.todoItem {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 10px 0 0;
  width: 90%;
  border-bottom: .1px solid #cecece;
  font-family: Roboto, sans-serif;
  font-weight: 100;
  font-size: 25px;
}

/*Checkbox*/
.todoItem > input {
  justify-content: flex-start;
  margin: 0 20px 0 0;
}

/*Todo Item*/
.todoItem > label {
  width: 99%;
  justify-content: flex-start;
  margin: 0 0 5px 0;
}

/*Delete Button*/
.todoItem > span {
  cursor: pointer;
}

.todoItem > span:hover {
  color: crimson;
}
