@media (min-width: 992px){
  .listCol1 {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
  }
  
  .listCol2 {
    display: flex;
    flex-direction: column;
    margin: 0 15px 0 15px;
    padding: 0 10px 0 10px;
    justify-content: center;
  }
  
  .listCol3 {
    display: flex;
    flex-direction: column;
    width: 30%;
    justify-content: center;
  }

  .listCol4 {
    display: flex;
    flex-direction: column;
    margin: 0 15px 25px 15px;
    padding: 0 10px 0 10px;
    justify-content: flex-end;
  }

  .listCol5 {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: flex-end;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .listCol1 {
    display: flex;
    flex-direction: row;
  }
  
  .listCol2 {
    display: none;
  }
  
  .listCol3 {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    height: 100vh;
    width: 75%;
  }

  .listCol4 {
    display: none;
  }

  .listCol5 {
    display: flex;
    margin: 0 0 0 0;
    flex-direction: row;
    align-items: left;
    justify-content: flex-end;
  }
}