@media (min-width: 992px){
  .navContainer {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin: 25px 0 0 0;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .navContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: auto;
    margin: 100px 0 0 0;
  }
}