@media (min-width: 992px){
  .loginContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

  .loginContainer > div {
    opacity: .8;
  }

  .registerContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

  .registerContainer > div {
    opacity: .8;
  }
}

@media (min-width: 768px) and (max-width: 991px){
  .loginContainer {
    display: flex;
    flex-direction: column;
    height: 100vh;
  }

  .loginContainer > div {
    opacity: .8;
  }

  .registerContainer {
    display: flex;
    flex-direction: row;
    height: 100vh;
  }

  .registerContainer > div {
    opacity: .8;
  }
}
